.content {
  max-width: min(112rem, 90%);
}

#room header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#room header .buttons {
  display: flex;
}

#room header .buttons .button:first-child {
  padding: 1.3rem 1.6rem;
  margin-right: 0.8rem;
}

#room header .buttons .button:first-child img {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
}

#room header .buttons .button:last-child {
  padding: 1.3rem 3.2rem;
  margin-right: 0.8rem;
}

#room header .buttons .button:last-child img {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
}

#question-form {
  margin-bottom: 1.6rem;
}

#question-form h2 {
  font: 700 2.8rem 'Poppins', sans-serif;
  color: var(--black);
  margin-bottom: 2.4rem;
  line-height: 4.2rem;
}

#question-form form {
  border: 0.2rem solid var(--grey-blue);
  padding: 1.6rem;
  border-radius: 0 0.8rem 0.8rem 0.8rem;
}

#question-form form textarea {
  resize: none;
  background: transparent;
  width: 100%;
  outline: none;
  color: var(--grey-dark);
}

#question-form form textarea::placeholder {
  color: var(--grey-blue);
}

#question-form form footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#question-form form footer > div {
  display: flex;
  align-items: center;
  color: var(--icons-datails);
  font: 400 1.4rem 'Poppins', sans-serif;
}

#question-form form footer > div img {
  margin-right: 0.9rem;
}

#question-form form footer button {
  height: auto;
  padding: 0.8rem 2.4rem;
  line-height: 2.4rem;
}
